<% @services.each do|service| %>
  <div class="col-md-4">
    <div class="panel panel-default" data-href="<% link_to service_path(service) %>">
      <div class="panel-heading">
        <%= link_to "#{service.name}", service_path(service) %>
        <br>
        $<%= service.rate %>
      </div>
      <div class="panel-body">
        <p>
          <%#= service.description %>
          Service Description Goes Here
          Add service created at date
          add weekly figures
        </p>
        <%= link_to "Details", service_path(service), class:'btn btn-default col-md-12' %>
      </div>
    </div>
  </div>
<% end %>
