<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @service.name %></h3>
      <h6>Income by year</h6>
    </div>
    <%= line_chart @income_chart_data, @income_chart_options %>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @service.name %></h3>
      <h6>Bookings by year</h6>
    </div>
    <%= bar_chart @booking_chart_data, @booking_chart_options %>
  </div>
</div>
