<ul class="nav nav-tabs">
  <li class="active navigation">
    <%= link_to 'Overview', providers_path%>
  </li>
  <li class="navigation"></li>
  <li class="navigation"></li>
</ul>

<script type="text/javascript">
  $('.nav-tabs .navigation').click(function (e) {
    $(this).tab('show')
  })
</script>
