<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<%= simple_form_for [@service, @booking] do |b| %>
  <%= b.input :time_start %>
  <%= b.input :time_end %>
  <%= b.button :submit %>
<% end %>
