<h1>Statics#index</h1>
<p>Find me in app/views/statics/index.html.erb</p>
<div>
  <div class="jumbotron" id="static-background">
    <div class="black-box-ela">
      <h2 id="jumbotron-text">TRIM phrase here</h2>
    </div>
  </div>
</div>
