<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<%= simple_form_for [@booking, @review] do |review| %>
  <%= review.input :rating, collection: 1..5 %>
  <%= review.input :body %>
  <%= review.button :submit %>
<% end %>
